.FAQ {
  background-color: rgba(3, 95, 49, 0.425);
  width: 80%;
  height: 100vh;
}

.title {
  text-align: center;
}

.text-container {
  background-color: whitesmoke;
  margin: 2rem;
  border-radius: 10px;
}

.sub-title {
  margin: 1rem;
}
